---
import Project from './Project.astro';
import { projects } from '../../projects';
import { Icon } from 'astro-icon/components';
---

<section id="projects" class="mt-36">
    <div class="flex justify-between flex-wrap gap-8 mb-8">
        <h2 class="text-4xl font-bold">My Projects</h2>

        <div class="flex justify-end">
            <div class="tabs">
                <button
                    role="tab"
                    class="project-tab tab tab-bordered text-md font-semibold pb-9 tab-active"
                    data-target-project="personal-projects"
                >
                    PERSONAL
                </button>
                <button
                    role="tab"
                    class="project-tab tab tab-bordered text-md font-semibold pb-9"
                    data-target-project="freelance-projects"
                >
                    FREELANCE
                </button>
                <button
                    role="tab"
                    class="project-tab tab tab-bordered text-md font-semibold pb-9"
                    data-target-project="work-projects"
                >
                    WORK
                </button>
            </div>
        </div>
    </div>

    <div
        id="personal-projects"
        class="project space-y-8"
        aria-labelledby="personal-projects-tab"
    >
        <p>
            Small solo projects that I have worked on. While some are designed with
            practical functionality in mind, the majority serve as an avenue for learning
            of any given language or framework. I've explored a diverse range of languages
            and frameworks, with a particular emphasis on leveraging Astro and React for
            frontend development, complemented by tailwindcss for styling, and Firebase
            for a serverless backend and database integration.
        </p>
        <div>
            {
                projects.personal.map((project) => (
                    <Project
                        title={project.title}
                        img={project.img}
                        desc={project.desc}
                        badges={project.stack}
                        demo={project.demo}
                        source={project.source}
                    />
                ))
            }
        </div>

        <div class="grid place-items-center">
            <a
                class="btn btn-lg gap-4"
                href="https://github.com/MichaelFarquhar?tab=repositories"
                target="_blank"
            >
                <Icon name="ion:logo-github" class="w-7 h-7" />

                View All Repos
            </a>
        </div>
    </div>
    <div
        id="freelance-projects"
        class="project hidden space-y-8"
        aria-labelledby="freelance-projects-tab"
    >
        <p>
            I've recently ventured into freelancing, crafting websites for local
            businesses in Windsor, Ontario. Thus far, I have exclusively used Wordpress
            and design each site with the Spectra Page Builder. This journey into
            freelancing has given me invaluable insights into domains, web hosting, and
            more, enriching my expertise in the field.
        </p>
        <div>
            {
                projects.freelance.map((project) => (
                    <>
                        <Project
                            title={project.title}
                            img={project.img}
                            desc={project.desc}
                            badges={project.stack}
                            demo={project.demo}
                            source={project.source}
                        />
                    </>
                ))
            }
        </div>
    </div>
    <div
        id="work-projects"
        class="project hidden space-y-8"
        aria-labelledby="work-projects-tab"
    >
        <p>
            During my tenure at Digital Media, I held the role of a Full-Stack developer
            overseeing a variety of websites, mainly tailored for local businesses. Our
            projects were predominantly built on the LAMP stack or React, utilizing PHP
            for backend functionality and MySQL for databases. While my code remains
            private, we employed an in-house PHP framework for the majority of our
            non-React websites.
        </p>
        <div>
            {
                projects.work.map((project) => (
                    <>
                        <Project
                            title={project.title}
                            img={project.img}
                            desc={project.desc}
                            badges={project.stack}
                            demo={project.demo}
                            source={project.source}
                        />
                    </>
                ))
            }
        </div>
    </div>
</section>

<script>
    const projectLinks = document.querySelectorAll('.project-tab');
    const projects = document.querySelectorAll('.project');

    projectLinks.forEach((link) => {
        link.addEventListener('click', () => {
            projectLinks.forEach((tab) => tab.classList.remove('tab-active'));
            (link as HTMLElement).classList.add('tab-active');

            projects.forEach((project) => project.classList.add('hidden'));
            const targetProjectId = (link as HTMLElement).dataset.targetProject;
            if (targetProjectId) {
                document.querySelector(`#${targetProjectId}`).classList.remove('hidden');
            }
        });
    });
</script>
