---
import { Icon } from 'astro-icon/components';
import Image from 'astro/components/Image.astro';

interface Props {
    title: string;
    img: string;
    desc: string;
    demo?: string;
    source?: string;
    badges?: string[];
}

const { title, img, desc, demo, source, badges } = Astro.props;
---

<article class="flex flex-col md:flex-row items-start mb-8 p-6 bg-base-200 rounded-lg">
    <a data-fslightbox href={img}>
        <Image
            src={img}
            width="385"
            height="225"
            alt={title}
            class="max-w-full md:max-w-[24rem] rounded-lg m-0 md:mr-6 shadow-lg"
        />
    </a>
    <div class="grow w-full">
        <h1 class="text-3xl font-bold mb-3 mt-4 md:mt-0">{title}</h1>
        <div class="flex items-center space-x-3 mb-8">
            {
                badges &&
                    badges.map((badge) => {
                        return (
                            <div class="badge badge-outline badge-primary badge-md rounded-none">
                                {badge}
                            </div>
                        );
                    })
            }
        </div>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions mt-4 space-x-2">
            {
                demo && (
                    <a
                        class="btn btn-sm btn-outline btn-active hover:opacity-80 gap-2"
                        href={demo}
                        target="_blank"
                    >
                        <Icon name="heroicons:window-solid" class="w-5 h-5" />
                        Demo
                    </a>
                )
            }
            {
                source && (
                    <a
                        class="btn btn-sm btn-secondary gap-2"
                        href={source}
                        target="_blank"
                    >
                        <Icon name="heroicons:code-bracket-solid" class="w-5 h-5" />
                        Source
                    </a>
                )
            }
        </div>
    </div>
</article>
